<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.menisamet.totake">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAR10PVNqmQ6WW0Pff02_LPvo0XQyRi71k" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity" />
        <activity
            android:name=".ManageActivity"
            android:label="Manage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.menisamet.totake.MainActivity" />
        </activity>
        <activity
            android:name=".MyListActivity"
            android:label="My Lists"
            android:parentActivityName=".MyListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.menisamet.totake.MainActivity" />
        </activity>
        <activity
            android:name=".MyToDoListActivity"
            android:label="My Todo List"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ToolActivity"
            android:label="Tools"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AddNewListActivity" />
        <activity android:name=".ListOfItemActivity"></activity>
    </application>

</manifest>