body, html {
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

md-card {
  max-width: 80%;
  margin: 2em auto;
}

md-toolbar-row {
  justify-content: space-between;
}

.scroll-list {
  overflow: auto;

}

.scroll-list-h {
  height: 460px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}


.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}


.example-section {
  display: flex;
  align-content: flex-start;
  align-items: center;
  height: 60px;
  text-align: right;
}

.search-section {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

md-slider {
  width: 300px;
}



.item-list-grid {
  position: absolute;
  bottom: 0;
  left: 0;
}

.example-toolbar {
  background: cornflowerblue;
  color: #F5F5F5;
}

md-chip {
  max-width: 200px;
  margin: 5px 10px;
  cursor: pointer;
}
